@font-face {
  font-family: 'fa-solid-900';
  src: url("../fonts/fa-solid-900.ttf");
}

@font-face {
  font-family: 'fa-brands-400';
  src: url("../fonts/fa-brands-400.ttf");
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url("../fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-family: 'OpenSans-Light';
  src: url("../fonts/OpenSans-Light.ttf");
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: 'OpenSans-Semibold';
  src: url("../fonts/OpenSans-Semibold.ttf");
}

body {
  font-family: 'OpenSans-Light';
  color: #6d6e71;
  font-size: 16px;
}

body.no-scroll {
  overflow: hidden;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.header .header-top {
  background: #eceef4;
}

.header .header-top .header-top-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header-top .header-top-wrap .block button {
  border-radius: 5px;
  padding: 6px 8px 6px 47px;
  font-family: 'OpenSans-Bold';
  font-size: 12px;
  position: relative;
  background: #ffffff;
}

.header .header-top .header-top-wrap .block .blog::before {
  content: '';
  position: absolute;
  background: url(../img/header/top/1.png) no-repeat;
  width: 19px;
  height: 19px;
  left: 8px;
}

.header .header-top .header-top-wrap .block .jobs::before {
  content: '';
  position: absolute;
  background: url(../img/header/top/2.png) no-repeat;
  width: 19px;
  height: 19px;
  left: 8px;
}

.header .header-top .header-top-wrap .block .support::before {
  content: '';
  position: absolute;
  background: url(../img/header/top/3.png) no-repeat;
  width: 19px;
  height: 19px;
  left: 8px;
}

.header .header-top .header-top-wrap .block .arabic::before {
  content: '';
  position: absolute;
  background: url(../img/header/top/4.png) no-repeat;
  width: 19px;
  height: 19px;
  left: 8px;
}

.header .header-top .header-top-wrap .block a {
  border-right: 1px solid #dee0e6;
  padding: 20px 20px;
  display: inline-block;
}

.header .header-top .header-top-wrap .block a .fab {
  font-family: 'fa-brands-400';
  font-size: 20px;
}

.header .header-top .header-top-wrap .block .facebook {
  border-left: 1px solid #dee0e6;
}

.header .header-top .header-top-wrap .block .facebook .fab {
  color: #2b75b2;
}

.header .header-top .header-top-wrap .block .twitter .fab {
  color: #1faae2;
}

.header .header-top .header-top-wrap .block .instagram .fab {
  color: #26658e;
}

.header .header-top .header-top-wrap .block .google .fab {
  color: #dd4070;
}

.header .header-middle {
  padding: 65px 0;
}

.header .header-middle .header-middle-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header-middle .header-middle-wrap .logo {
  padding: 25px 0 25px 160px;
}

.header .header-middle .header-middle-wrap .logo h5 {
  font-family: 'OpenSans-Regular';
  font-size: 41px;
  color: #3687c4;
  font-weight: normal;
}

.header .header-middle .header-middle-wrap .contact {
  padding: 0 30px;
  position: relative;
}

.header .header-middle .header-middle-wrap .contact a {
  padding: 0 20px;
  border-right: 1px solid #bcbec3;
}

.header .header-middle .header-middle-wrap .contact a .fas {
  font-family: 'fa-solid-900';
  font-size: 25px;
  color: #6d6e71;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.header .header-middle .header-middle-wrap .contact a .fas:hover {
  color: #1faae2;
}

.header .header-middle .header-middle-wrap .contact .phone:hover::before {
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  opacity: 1;
  visibility: visible;
}

.header .header-middle .header-middle-wrap .contact .phone:before {
  content: '+380745768794';
  position: absolute;
  bottom: calc(100% + 15px);
  left: 0;
  width: 100%;
  border: 2px solid #d4d4d5;
  border-radius: 5px;
  text-align: center;
  padding: 15px 0;
  color: #6d6e71;
  cursor: default;
  opacity: 0;
  visibility: hidden;
}

.header .header-middle .header-middle-wrap .contact .tag:hover::before {
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  opacity: 1;
  visibility: visible;
}

.header .header-middle .header-middle-wrap .contact .tag:before {
  content: 'Saudi Arabia, Alreyadah';
  position: absolute;
  bottom: calc(100% + 15px);
  left: 0;
  width: 100%;
  border: 2px solid #d4d4d5;
  border-radius: 5px;
  text-align: center;
  padding: 15px 0;
  color: #6d6e71;
  cursor: default;
  opacity: 0;
  visibility: hidden;
}

.header .header-middle .header-middle-wrap .contact .email {
  border-right: none;
}

.header .header-middle .header-middle-wrap .contact .email:hover::before {
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  opacity: 1;
  visibility: visible;
}

.header .header-middle .header-middle-wrap .contact .email:before {
  content: 'example@gmail.com';
  position: absolute;
  bottom: calc(100% + 15px);
  left: 0;
  width: 100%;
  border: 2px solid #d4d4d5;
  border-radius: 5px;
  text-align: center;
  padding: 15px 0;
  color: #6d6e71;
  opacity: 0;
  visibility: hidden;
}

.header .header-nav {
  border-top: 1px solid #eceef4;
}

.header .header-nav .header-nav-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header-nav .header-nav-wrap .menu .burger {
  display: none;
}

.header .header-nav .header-nav-wrap .menu .menu-link a {
  font-family: 'OpenSans-Bold';
  color: #6d6e71;
  font-size: 13px;
  border-right: 1px solid #eceef4;
  display: inline-block;
  padding: 35px 20px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  position: relative;
}

.header .header-nav .header-nav-wrap .menu .menu-link a:hover {
  color: #1faae2;
}

.header .header-nav .header-nav-wrap .menu .menu-link a:hover::before {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.header .header-nav .header-nav-wrap .menu .menu-link a:last-of-type {
  border-right: none;
}

.header .header-nav .header-nav-wrap .menu .menu-link a::before {
  content: '';
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  border-bottom: 10px solid #1faae2;
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
  opacity: 0;
  visibility: hidden;
}

.header .header-nav .header-nav-wrap .search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-nav .header-nav-wrap .search form a .fas {
  font-family: 'fa-solid-900';
  font-size: 25px;
  color: #6d6e71;
}

.header .header-nav .header-nav-wrap .search form input {
  font-size: 15px;
  margin-left: 10px;
  width: 160px;
}

.header .header-slider-wrap {
  position: relative;
  background: url(../img/header/bg.png) no-repeat;
  background-size: cover;
  background-position: center;
  height: 885px;
  width: 100%;
  top: 0;
}

.header .header-slider-wrap .header-slider .slick-list {
  overflow: hidden;
}

.header .header-slider-wrap .header-slider .slick-list .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header-slider-wrap .header-slider .slick-list .slick-track .header-slider-block {
  position: relative;
  height: 885px;
  width: 100%;
}

.header .header-slider-wrap .header-slider .slick-list .slick-track .header-slider-block .title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}

.header .header-slider-wrap .header-slider .slick-list .slick-track .header-slider-block .title h3 {
  color: #ffffff;
  font-family: 'OpenSans-Bold';
  font-size: 58px;
  text-shadow: 0.5px 0.9px 8px rgba(17, 17, 17, 0.15);
}

.header .header-slider-wrap .header-slider .slick-list .slick-track .header-slider-block .title h4 {
  color: #ffffff;
  font-size: 44px;
  text-shadow: 0.5px 0.9px 2px rgba(17, 17, 17, 0.15);
  padding-left: 110px;
  position: relative;
}

.header .header-slider-wrap .header-slider .slick-list .slick-track .header-slider-block .title h4::before {
  content: '&';
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 140px;
  z-index: -1;
  color: #bbedff;
  line-height: 1;
}

.header .header-slider-wrap button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header .header-slider-wrap button .fas {
  font-family: 'fa-solid-900';
  background: #f4f4f4;
  padding: 20px 10px;
  color: #d4d4d4;
  font-size: 25px;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.header .header-slider-wrap button .fas:hover {
  color: #6d6e71;
}

.header .header-slider-wrap .header-arrow-left {
  left: 100px;
}

.header .header-slider-wrap .header-arrow-right {
  right: 100px;
}

.about {
  padding-top: 25px;
  padding-bottom: 85px;
  background: url(../img/about/line.png) bottom no-repeat;
}

.about .about-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about .about-wrap .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about .about-wrap .block .content {
  max-width: 390px;
  margin-left: 30px;
}

.about .about-wrap .block .content h5 {
  font-family: 'OpenSans-Bold';
  font-size: 26px;
}

.about .about-wrap .block .content p {
  margin-top: 20px;
  text-align: justify;
}

.work {
  padding-top: 70px;
  padding-bottom: 95px;
}

.work .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.work .title .content {
  margin-left: 30px;
}

.work .title .content h5 {
  font-family: 'OpenSans-Bold';
  font-size: 44px;
}

.work .title .content p {
  font-size: 17px;
}

.work .work-wrap {
  margin-top: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.work .work-wrap::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  background: #eaeced;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.work .work-wrap .block .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
}

.work .work-wrap .block .box:first-of-type {
  margin-top: 0;
}

.work .work-wrap .block .box .content {
  margin-left: 30px;
  max-width: 390px;
}

.work .work-wrap .block .box .content h6 {
  font-family: 'OpenSans-Bold';
  font-size: 24px;
}

.work .work-wrap .block .box .content p {
  margin-top: 10px;
  text-align: justify;
}

.projects {
  background: #efefef;
  position: relative;
  padding-bottom: 105px;
}

.projects::before {
  content: '';
  position: absolute;
  top: -12px;
  left: 0;
  width: 100%;
  height: 22px;
  border-radius: 100%;
  z-index: -1;
  background: #efefef;
}

.projects .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 35px;
}

.projects .title .content {
  margin-left: 30px;
}

.projects .title .content h5 {
  font-family: 'OpenSans-Bold';
  font-size: 44px;
}

.projects .title .content p {
  font-size: 17px;
  line-height: 1.4;
  max-width: 335px;
}

.projects .projects-nav {
  margin-top: 85px;
  text-align: center;
}

.projects .projects-nav a {
  padding: 10px 25px;
  border-radius: 5px;
  border: 2px solid #cecece;
  margin-left: 10px;
  font-family: 'OpenSans-Bold';
  font-size: 15px;
  color: #bbbbbb;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.projects .projects-nav a.project-active {
  background: #ffffff;
  border-color: transparent;
  color: #6d6e71;
}

.projects .projects-nav a:hover {
  color: #6d6e71;
  background: #ffffff;
  border-color: transparent;
}

.projects .projects-nav a:first-of-type {
  margin-left: 0;
}

.projects .projects-wrap {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects .projects-wrap .card {
  width: 280px;
  background: #ffffff;
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 20px;
  border-radius: 5px;
}

.projects .projects-wrap .card .img {
  width: 250px;
  height: 210px;
  margin: 15px auto 0;
}

.projects .projects-wrap .card .img img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.projects .projects-wrap .card .card-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}

.projects .projects-wrap .card .card-wrap::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 1px;
  height: 100%;
  background: #efefef;
}

.projects .projects-wrap .card .card-wrap .block {
  padding: 15px 0;
}

.projects .projects-wrap .card .card-wrap .block a .fas {
  font-family: 'fa-solid-900';
  font-size: 24px;
  color: #c7c9ce;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.projects .projects-wrap .card .card-wrap .block a .fas:hover {
  color: #6d6e71;
}

.team {
  padding: 45px 0 100px 0;
}

.team .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team .title .content {
  margin-left: 45px;
}

.team .title .content h5 {
  font-family: 'OpenSans-Bold';
  font-size: 44px;
}

.team .title .content p {
  max-width: 445px;
  font-size: 17px;
}

.team .team-wrap {
  margin-top: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team .team-wrap .card {
  width: 280px;
  background: #f5f5f5;
  border-radius: 5px;
  padding: 45px 0 25px 0;
}

.team .team-wrap .card .img {
  text-align: center;
}

.team .team-wrap .card .name {
  margin-top: 35px;
  text-align: center;
}

.team .team-wrap .card .name h6 {
  font-family: 'OpenSans-Bold';
  font-size: 24px;
}

.team .team-wrap .card .name p {
  font-size: 17px;
}

.team .team-wrap .card .social {
  margin-top: 40px;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0;
}

.team .team-wrap .card .social a {
  margin-left: 25px;
}

.team .team-wrap .card .social a:first-of-type {
  margin-left: 0;
}

.team .team-wrap .card .social a .fab {
  font-family: 'fa-brands-400';
  font-size: 23px;
  color: #cdcdcd;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.team .team-wrap .card .social a .fab:hover {
  color: #6d6e71;
}

@media screen and (max-width: 1180px) {
  .container {
    max-width: 95%;
  }
}

@media screen and (max-width: 1520px) {
  .header .header-slider-wrap .header-slider .slick-list .slick-track .header-slider-block .title h3 {
    font-size: 40px;
  }
  .header .header-slider-wrap .header-slider .slick-list .slick-track .header-slider-block .title h4 {
    font-size: 30px;
    padding-left: 90px;
  }
  .header .header-slider-wrap .header-slider .slick-list .slick-track .header-slider-block .title h4::before {
    font-size: 100px;
  }
}

@media screen and (max-width: 1180px) {
  .team .team-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 35px;
  }
  .team .team-wrap .card {
    -ms-flex-preferred-size: 35%;
        flex-basis: 35%;
    margin-top: 50px;
  }
}

@media screen and (max-width: 1140px) {
  .about {
    padding-top: 0;
  }
  .about .about-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about .about-wrap .block {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 50px;
  }
  .about .about-wrap .block:first-of-type {
    margin-top: 0;
  }
}

@media screen and (max-width: 1100px) {
  .work .work-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .work .work-wrap::before {
    display: none;
  }
  .work .work-wrap .block {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-top: 100px;
  }
  .work .work-wrap .block:first-of-type {
    margin-top: 0;
  }
  .work .work-wrap .block .box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 1065px) {
  .header .header-slider-wrap .header-slider .slick-list .slick-track .header-slider-block .title h3 {
    font-size: 40px;
  }
  .header .header-slider-wrap .header-slider .slick-list .slick-track .header-slider-block .title h4 {
    font-size: 30px;
    padding-left: 0px;
  }
  .header .header-slider-wrap .header-slider .slick-list .slick-track .header-slider-block .title h4::before {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .header .header-slider-wrap button {
    display: none;
  }
}

@media screen and (max-width: 990px) {
  .header .header-nav .header-nav-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }
  .header .header-nav .header-nav-wrap .block {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .header .header-nav .header-nav-wrap .search {
    margin-top: 50px;
  }
  .header .header-nav .header-nav-wrap .search form {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 930px) {
  .header .header-slider-wrap .header-slider .slick-list .slick-track .header-slider-block .title h3 {
    font-size: 30px;
  }
  .header .header-slider-wrap .header-slider .slick-list .slick-track .header-slider-block .title h4 {
    font-size: 20px;
  }
  .header .header-slider-wrap .header-slider .slick-list .slick-track .header-slider-block .title h4::before {
    font-size: 70px;
  }
}

@media screen and (max-width: 785px) {
  .header .header-nav .header-nav-wrap {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding: 35px 0;
  }
  .header .header-nav .header-nav-wrap .menu .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 30px;
    height: 20px;
    position: relative;
    cursor: pointer;
    z-index: 9999;
  }
  .header .header-nav .header-nav-wrap .menu .burger.active span {
    display: none;
  }
  .header .header-nav .header-nav-wrap .menu .burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    background: #ffffff;
  }
  .header .header-nav .header-nav-wrap .menu .burger.active::after {
    top: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    background: #ffffff;
  }
  .header .header-nav .header-nav-wrap .menu .burger span {
    background: #6d6e71;
    height: 3px;
    width: 20px;
    -webkit-transition: .3s linear;
    transition: .3s linear;
  }
  .header .header-nav .header-nav-wrap .menu .burger::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: #6d6e71;
    top: 0;
    -webkit-transition: .3s linear;
    transition: .3s linear;
  }
  .header .header-nav .header-nav-wrap .menu .burger::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: #6d6e71;
    bottom: 0;
    -webkit-transition: .3s linear;
    transition: .3s linear;
  }
  .header .header-nav .header-nav-wrap .menu .menu-link {
    position: fixed;
    z-index: 9998;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
  }
  .header .header-nav .header-nav-wrap .menu .menu-link.show {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
  }
  .header .header-nav .header-nav-wrap .menu .menu-link a {
    border-right: none;
    display: block;
    padding: 30px 0;
    color: #ffffff;
  }
  .header .header-nav .header-nav-wrap .menu .menu-link a:hover::before {
    opacity: 0;
    visibility: hidden;
  }
  .header .header-nav .header-nav-wrap .search {
    margin-top: 0;
  }
}

@media screen and (max-width: 700px) {
  .header .header-slider-wrap .header-slider .slick-list .slick-track .header-slider-block .title h3 {
    font-size: 20px;
  }
  .header .header-slider-wrap .header-slider .slick-list .slick-track .header-slider-block .title h4 {
    font-size: 16px;
  }
  .header .header-slider-wrap .header-slider .slick-list .slick-track .header-slider-block .title h4::before {
    font-size: 50px;
  }
  .projects .projects-nav a {
    padding: 5px 15px;
  }
}

@media screen and (max-width: 660px) {
  .header .header-top .header-top-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }
  .header .header-top .header-top-wrap .block {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-top: 20px;
  }
  .header .header-top .header-top-wrap .block:first-of-type {
    margin-top: 0;
  }
}

@media screen and (max-width: 650px) {
  .team .team-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 35px;
  }
  .team .team-wrap .card {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin: auto;
    margin-top: 50px;
  }
}

@media screen and (max-width: 600px) {
  .header .header-middle .header-middle-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header .header-middle .header-middle-wrap .block {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: center;
  }
  .header .header-middle .header-middle-wrap .logo {
    padding: 25px 0;
  }
  .header .header-middle .header-middle-wrap .contact .phone:hover::before {
    opacity: 0;
    visibility: hidden;
  }
  .header .header-middle .header-middle-wrap .contact .tag:hover::before {
    opacity: 0;
    visibility: hidden;
  }
  .header .header-middle .header-middle-wrap .contact .email:hover::before {
    opacity: 0;
    visibility: hidden;
  }
}

@media screen and (max-width: 595px) {
  .projects .projects-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .projects .projects-nav a {
    padding: 5px 15px;
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
    white-space: nowrap;
  }
  .projects .projects-nav a:last-of-type {
    margin-top: 10px;
  }
}

@media screen and (max-width: 580px) {
  .team .title .img {
    display: none;
  }
  .team .title .content {
    margin-left: 0;
    text-align: center;
  }
}

@media screen and (max-width: 535px) {
  .projects .projects-nav {
    display: block;
  }
  .projects .projects-nav a {
    display: block;
    margin-left: 0;
  }
  .projects .projects-nav a:last-of-type {
    margin-top: 0;
  }
}

@media screen and (max-width: 475px) {
  .header .header-slider-wrap .header-slider .slick-list .slick-track .header-slider-block .title h3 {
    font-size: 16px;
    white-space: nowrap;
  }
  .header .header-slider-wrap .header-slider .slick-list .slick-track .header-slider-block .title h4 {
    font-size: 13px;
    white-space: nowrap;
  }
  .header .header-slider-wrap .header-slider .slick-list .slick-track .header-slider-block .title h4::before {
    font-size: 40px;
  }
  .work .title {
    text-align: center;
  }
  .work .title .img {
    display: none;
  }
  .work .title .content h5 {
    font-size: 30px;
  }
  .work .work-wrap .block .box .img {
    display: none;
  }
  .work .work-wrap .block .box .content {
    margin-left: 0;
  }
  .work .work-wrap .block .box .content h6 {
    font-size: 20px;
  }
  .projects .title .img {
    display: none;
  }
  .projects .title .content {
    text-align: center;
    margin-left: 0;
  }
  .projects .title .content h5 {
    font-size: 30px;
  }
}

@media screen and (max-width: 400px) {
  .about .about-wrap .block .img {
    display: none;
  }
  .about .about-wrap .block .content {
    margin-left: 0;
  }
}

@media screen and (max-width: 390px) {
  .header .header-top .header-top-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }
  .header .header-top .header-top-wrap .block {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-top: 20px;
  }
  .header .header-top .header-top-wrap .block button:last-of-type {
    margin-top: 10px;
  }
}

@media screen and (max-width: 360px) {
  .team .title .content h5 {
    font-size: 30px;
  }
}
/*# sourceMappingURL=style.css.map */