@media screen and ( max-width: 1180px )
  .container 
    max-width: 95%
@media screen and ( max-width: 1520px )
  .header 
    & .header-slider-wrap 
      & .header-slider 
        & .slick-list 
          & .slick-track
            & .header-slider-block 
              & .title 
                & h3 
                  font-size: 40px 
                & h4 
                  font-size: 30px
                  padding-left: 90px  
                  &::before
                    font-size: 100px
@media screen and ( max-width: 1180px )
  .team 
    & .team-wrap 
      flex-wrap: wrap
      justify-content: space-around
      margin-top: 35px 
      & .card 
        flex-basis: 35%
        margin-top: 50px 
@media screen and ( max-width: 1140px )
  .about 
    padding-top: 0
    & .about-wrap 
      flex-wrap: wrap
      & .block 
        flex-basis: 100%
        justify-content: center
        margin-top: 50px 
        &:first-of-type
          margin-top: 0
@media screen and ( max-width: 1100px )
  .work 
    & .work-wrap 
      flex-wrap: wrap
      &::before
        display: none 
      & .block 
        flex-basis: 100%
        margin-top: 100px 
        &:first-of-type
          margin-top: 0
        & .box 
          justify-content: center
@media screen and ( max-width: 1065px )
  .header 
    & .header-slider-wrap 
      & .header-slider 
        & .slick-list 
          & .slick-track
            & .header-slider-block 
              & .title 
                & h3 
                  font-size: 40px 
                & h4 
                  font-size: 30px
                  padding-left: 0px 
                  &::before
                    left: 50%
                    transform: translateX(-50%)
      & button 
        display: none 
@media screen and ( max-width: 990px )
  .header 
    & .header-nav 
      & .header-nav-wrap 
        flex-wrap: wrap
        text-align: center
        & .block 
          flex-basis: 100%
        & .search 
          margin-top: 50px 
          & form 
            justify-content: center
@media screen and ( max-width: 930px )
  .header 
    & .header-slider-wrap 
      & .header-slider 
        & .slick-list 
          & .slick-track
            & .header-slider-block 
              & .title 
                & h3 
                  font-size: 30px 
                & h4 
                  font-size: 20px
                  &::before
                    font-size: 70px 
@media screen and ( max-width: 785px )
  .header 
    & .header-nav 
      & .header-nav-wrap 
        flex-wrap: nowrap
        padding: 35px 0 
        & .menu 
          & .burger 
            display: flex 
            align-items: center
            justify-content: flex-end
            width: 30px 
            height: 20px
            position: relative 
            cursor: pointer
            z-index: 9999
            &.active span 
              display: none 
            &.active::before 
              transform: rotate(45deg)
              background: #ffffff
            &.active::after 
              top: 0
              transform: rotate(-45deg)
              background: #ffffff
            & span 
              background: #6d6e71
              height: 3px 
              width: 20px 
              transition: .3s linear 
            &::before
              content: ''
              position: absolute
              width: 30px 
              height: 3px 
              background: #6d6e71
              top: 0
              transition: .3s linear 
            &::after
              content: ''
              position: absolute
              width: 30px 
              height: 3px 
              background: #6d6e71
              bottom: 0
              transition: .3s linear 
          & .menu-link 
            position: fixed 
            z-index: 9998
            background: rgba(#000000,.7)
            width: 100%
            height: 100%
            top: 0
            left: 0
            opacity: 0
            visibility: hidden
            &.show 
              opacity: 1
              visibility: visible
              transition: opacity 1s
            & a 
              border-right: none 
              display: block 
              padding: 30px 0
              color: #ffffff
              &:hover::before
                opacity: 0
                visibility: hidden
        & .search 
          margin-top: 0
@media screen and ( max-width: 700px )
  .header 
    & .header-slider-wrap 
      & .header-slider 
        & .slick-list 
          & .slick-track
            & .header-slider-block 
              & .title 
                & h3 
                  font-size: 20px 
                & h4 
                  font-size: 16px
                  &::before
                    font-size: 50px 
  .projects 
    & .projects-nav
      & a 
        padding: 5px 15px 
@media screen and ( max-width: 660px )
  .header 
    & .header-top 
      & .header-top-wrap 
        flex-wrap: wrap
        text-align: center
        & .block 
          flex-basis: 100%
          margin-top: 20px 
          &:first-of-type
            margin-top: 0
@media screen and ( max-width: 650px )
  .team 
    & .team-wrap 
      flex-wrap: wrap
      justify-content: center
      flex-direction: column 
      margin-top: 35px 
      & .card 
        flex-basis: 50%
        margin: auto
        margin-top: 50px 
@media screen and ( max-width: 600px )
  .header 
    & .header-middle 
      & .header-middle-wrap
        flex-wrap: wrap
        & .block 
          flex-basis: 100%
          text-align: center
        & .logo 
          padding: 25px 0
        & .contact 
          & .phone 
            &:hover::before
              opacity: 0
              visibility: hidden 
          & .tag
            &:hover::before
              opacity: 0
              visibility: hidden 
          & .email 
            &:hover::before
              opacity: 0
              visibility: hidden 
@media screen and ( max-width: 595px )
  .projects 
    & .projects-nav
      display: flex 
      flex-wrap: wrap
      justify-content: center
      & a 
        padding: 5px 15px 
        flex-basis: 20%
        white-space: nowrap
        &:last-of-type
          margin-top: 10px 
@media screen and ( max-width: 580px )
  .team 
    & .title 
      & .img 
        display: none 
      & .content 
        margin-left: 0
        text-align: center
@media screen and ( max-width: 535px )
  .projects 
    & .projects-nav
      display: block 
      & a 
        display: block 
        margin-left: 0
        &:last-of-type
          margin-top: 0 
@media screen and ( max-width: 475px )
  .header 
    & .header-slider-wrap 
      & .header-slider 
        & .slick-list 
          & .slick-track
            & .header-slider-block 
              & .title 
                & h3 
                  font-size: 16px 
                  white-space: nowrap
                & h4 
                  font-size: 13px
                  white-space: nowrap
                  &::before
                    font-size: 40px 
  .work 
    & .title 
      text-align: center
      & .img 
        display: none 
      & .content 
        & h5 
          font-size: 30px 
    & .work-wrap 
      & .block 
        & .box 
          & .img 
            display: none 
          & .content 
            margin-left: 0
            & h6 
              font-size: 20px 
  .projects 
    & .title 
      & .img 
        display: none 
      & .content 
        text-align: center
        margin-left: 0
        & h5 
          font-size: 30px 
@media screen and ( max-width: 400px )
  .about 
    & .about-wrap 
      & .block 
        & .img 
          display: none 
        & .content 
          margin-left: 0
@media screen and ( max-width: 390px )
  .header 
    & .header-top 
      & .header-top-wrap 
        flex-wrap: wrap
        text-align: center
        & .block 
          flex-basis: 100%
          margin-top: 20px 
          & button 
            &:last-of-type
              margin-top: 10px 
@media screen and ( max-width: 360px )
  .team 
    & .title 
      & .content 
        & h5 
          font-size: 30px 

  
  
