.header 
  & .header-top 
    background: #eceef4
    & .header-top-wrap 
      display: flex 
      align-items: center
      justify-content: space-between
      & .block 
        & button
          border-radius: 5px 
          padding: 6px 8px 6px 47px  
          +bold 
          font-size: 12px 
          position: relative
          background: #ffffff
        & .blog
          &::before
            content: ''
            position: absolute
            background: url(../img/header/top/1.png) no-repeat
            width: 19px 
            height: 19px
            left: 8px  
        & .jobs
          &::before
            content: ''
            position: absolute
            background: url(../img/header/top/2.png) no-repeat
            width: 19px 
            height: 19px
            left: 8px  
        & .support
          &::before
            content: ''
            position: absolute
            background: url(../img/header/top/3.png) no-repeat
            width: 19px 
            height: 19px
            left: 8px  
        & .arabic
          &::before
            content: ''
            position: absolute
            background: url(../img/header/top/4.png) no-repeat
            width: 19px 
            height: 19px
            left: 8px  
        & a 
          border-right: 1px solid #dee0e6
          padding: 20px 20px
          display: inline-block  
          & .fab 
            +brand 
            font-size: 20px 
        & .facebook 
          border-left: 1px solid #dee0e6
          & .fab 
            color: #2b75b2
        & .twitter
          & .fab 
            color: #1faae2
        & .instagram
          & .fab 
            color: #26658e
        & .google 
          & .fab 
            color: #dd4070
  & .header-middle 
    padding: 65px 0 
    & .header-middle-wrap 
      display: flex 
      align-items: center
      justify-content: space-between
      & .logo 
        padding: 25px 0 25px 160px 
        & h5 
          +reg 
          font-size: 41px 
          color: #3687c4
          font-weight: normal
      & .block-contact
        padding: 0 30px 
        position: relative
        & a 
          padding: 0 20px 
          border-right: 1px solid #bcbec3 
          & .fas 
            +solid 
            font-size: 25px 
            color: #6d6e71
            transition: .3s linear 
            &:hover
              color: #1faae2
        & .phone 
          &:hover::before 
            transition: opacity 1s
            opacity: 1
            visibility: visible
          &:before 
            content: '+380745768794'
            position: absolute
            bottom: calc(100% + 15px)
            left: 0
            width: 100%
            border: 2px solid #d4d4d5
            border-radius: 5px 
            text-align: center
            padding: 15px 0
            color: #6d6e71 
            cursor: default
            opacity: 0
            visibility: hidden
        & .tag
          &:hover::before 
            transition: opacity 1s
            opacity: 1
            visibility: visible
          &:before 
            content: 'Saudi Arabia, Alreyadah'
            position: absolute
            bottom: calc(100% + 15px)
            left: 0
            width: 100%
            border: 2px solid #d4d4d5
            border-radius: 5px 
            text-align: center
            padding: 15px 0
            color: #6d6e71 
            cursor: default
            opacity: 0
            visibility: hidden
        & .email 
          border-right: none 
          &:hover::before 
            transition: opacity 1s
            opacity: 1
            visibility: visible
          &:before 
            content: 'example@gmail.com'
            position: absolute
            bottom: calc(100% + 15px)
            left: 0
            width: 100%
            border: 2px solid #d4d4d5
            border-radius: 5px 
            text-align: center
            padding: 15px 0
            color: #6d6e71 
            opacity: 0
            visibility: hidden
  & .header-nav 
    border-top: 1px solid #eceef4
    & .header-nav-wrap 
      display: flex 
      align-items: center
      justify-content: space-between
      & .menu 
        & .burger 
          display: none 
        & .menu-link 
          & a 
            +bold 
            color: #6d6e71
            font-size: 13px 
            border-right: 1px solid #eceef4
            display: inline-block 
            padding: 35px 20px 
            transition: 0.3s linear 
            position: relative
            &:hover
              color: #1faae2
            &:hover::before 
              opacity: 1
              visibility: visible
              transition: opacity 1s
            &:last-of-type
              border-right: none 
            &::before
              content: ''
              position: absolute
              left: 50%
              transform: translateX(-50%)
              bottom: 0
              border-bottom: 10px solid #1faae2
              border-left: 17px solid transparent 
              border-right: 17px solid transparent 
              opacity: 0
              visibility: hidden
      & .search
        & form 
          display: flex
          align-items: center
          & a 

            & .fas 
              +solid 
              font-size: 25px 
              color: #6d6e71
          & input 
            font-size: 15px 
            margin-left: 10px 
            width: 160px 
  & .header-slider-wrap 
    position: relative
    background: url(../img/header/bg.png) no-repeat 
    background-size: cover 
    background-position: center 
    height: 885px 
    width: 100%
    top: 0
    & .header-slider 
      & .slick-list 
        overflow: hidden
        & .slick-track 
          display: flex 
          & .header-slider-block 
            position: relative
            height: 885px 
            width: 100%
            & .title 
              position: absolute
              top: 50%
              left: 50%
              transform: translate(-50%,-50%)
              z-index: 1
              & h3 
                color: #ffffff
                +bold 
                font-size: 58px 
                text-shadow: .5px .9px 8px rgba(#111111,.15)
              & h4 
                color: #ffffff
                font-size: 44px 
                text-shadow: .5px .9px 2px rgba(#111111,.15)
                padding-left: 110px 
                position: relative
                &::before
                  content: '&'
                  position: absolute
                  bottom: 0
                  left: 0
                  font-size: 140px 
                  z-index: -1
                  color: #bbedff
                  line-height: 1
    & button 
      position: absolute
      top: 50%
      transform: translateY(-50%)
      & .fas 
        +solid 
        background: #f4f4f4
        padding: 20px 10px 
        color: #d4d4d4
        font-size: 25px 
        transition: .3s linear 
        &:hover
          color: #6d6e71 
    & .header-arrow-left 
      left: 100px 
    & .header-arrow-right 
      right: 100px 





            

           
